.menu {
  background-color: #333;
  color: #fff;
  display: inline-block;
  padding: 10px;
  position: relative;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-list a {
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.menu-list a:hover {
  background-color: lightblue;
}

.sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
