body {
  margin: 0;
  padding: 1rem;
}

header,
footer,
article {
  padding: 1rem 2rem;
}

article {
  min-height: 150vh;
  background-color: beige;
  margin: 1rem 0;
}

header,
footer {
  background-color: tomato;
}

nav {
  background-color: gold;
  position: fixed;
}

h2{background-color: orange;
position: sticky;}

/* de chatlink komt onderaan rechts, en blijft altijd staan */
#chat {

  position: fixed;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
 color: gray;
}

/* de sharelink komt links, en srolled dan mee naar boven */
#share {
  background: black;
  color: white;
  text-decoration: none;

}

.chat-icon{
 position: fixed;
 margin-bottom: 20px;

  right: 40px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-image: url(../images/chat-icon.png);
  background-size: contain;   /* ou 100% 100% */

}