body{
margin: 0;
padding: 0;
background-color: #e4efea;}  /* 1 rem = root fontsize*/  /*standaard neemt de body een marge van 8px, dus zet margin op 0*/

.intro {
background: black url(./images/bttf-header.jpg) no-repeat;
color: whitesmoke;
background-size: cover;
padding:6rem 5rem 6rem 5rem;

}

.movie-row{
    display: flex;
}

.movie-image {
    margin: 0rem 1rem 1rem 1rem;
}

.movie-image img {
    width: 300px;
}

.movie-date{
    text-align: right;
}

.movie-date{color:#a1a9a2}

.movie-date i{color:#53aa74}

p {margin: 1em}