h1 {
    color: red
}

body {
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding:0;
}

 a {
    text-decoration:none;
    color:inherit
}

nav ul {
    list-style:none;
}


