body {
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    h1 {
        color: brown;
    }
    #img1, #img2, #img3, #img4 {width: 350px;
    height:200px;
margin-top:20px;
margin-bottom:20px;}
}  /*dit is een commentaar*/